include MANIFEST.in
include LICENCE.txt
include README.rst
recursive-include foundation_filefield_widget/templates *
recursive-include foundation_filefield_widget/static *
recursive-include foundation_filefield_widget/locale *